body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 80px;
    background-image: url(images/wood-bg.png);
    background-repeat: repeat-x;
}

#header img {
    display: block;
    margin: auto;
    height: 70%;
    padding-top: 6px;
}


/*=========TABS-TOP=======*/

#tabs-top {
    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 50px;
    background-color: darkblue;
}

#tabs-top a {
    float: left;
    color: orange;
    display: block;
    width: 33%;
    height: 35px;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding-top: 8px;
}

#tabs-top a:hover {
    color: darkblue;
    background-color: orange;
    height: 42px;
    width: 34%;
}


/*=========MAIN-HOME=======*/

#main-home {
    margin-top: 130px;
}


/*=========TABS-BOTTOM=======*/

#tabs-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 50px;
    background-color: darkblue;
}

#tabs-bottom a {
    float: left;
    color: orange;
    display: block;
    width: 50%;
    height: 35px;
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
}

#tabs-bottom a:hover {
    color: darkblue;
    background-color: orange;
    height: 50px;
}


/*=========MAIN-ANIMALS=======*/

#main-animals {
    margin-top: 129px;
    background-image: url(images/map-blur.png);
    background-repeat: repeat-y;
}

#content {
    padding-top: 1px;
    padding-bottom: 50px;
}

a.info-box {
    text-decoration: none;
    background: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
}

a.info-box:hover {
    background: rgb(105, 243, 236);
}

.info-box img {
    height: 70px;
    width: 70px;
    margin: 10px;
    float: left;
}

.info-box img.right {
    float: right;
    margin-top: 10px;
}

.info-box h3 {
    padding: 0px;
    margin-bottom: 0px;
    width: 90%;
    color: orange;
}

.info-box p {
    padding: 0;
    margin: 0;
    width: 90%;
    color: darkblue;
}

.info-box-full {
    background: rgba(255, 255, 255, 0.8);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 10px;
}

.info-box-full img {
    width: 100%;
}

.info-box-full h1 {
    text-align: center;
    color: darkblue;
}

.info-box-full h3 {
    text-align: center;
    color: darkblue;
}

.info-box-full h3:hover {
    color: orange;
}

.info-box-full strong {
    color: darkblue;
}

.info-box-full strong:hover {
    color: orange;
}

a img.arrow1 {
    text-decoration: none;
    display: block;
    float: right;
    width: 50px;
    height: 70px;
}

a img.arrow2 {
    text-decoration: none;
    float: left;
    width: 50px;
    height: 70px;
}

h4 a {
    color: darkblue;
}

h4 a:hover {
    color: orange;
}


/*========WEATHER-PAGE=====*/

.info-box-full h1:hover {
    color: orange;
}

img.info-box-weather-icon {
    height: 30px;
    width: 30px;
    margin: 10px;
    float: left;
}

h2.info-box-weather-icon {
    font-size: 65px;
    font-weight: 200;
    padding: 0;
    margin: 0;
    color: darkblue;
}

.info-box-full p {
    color: darkblue;
}

.info-box-full p:hover {
    color: orange;
}

table {
    width: 100%;
    border-bottom: 10px;
}

td {
    border-top: 1px solid orange;
    color: darkblue;
}

td a {
    color: darkblue;
    text-decoration: none;
}

td a:hover {
    color: orange;
}

td:hover {
    color: orange;
    background-color: darkblue;
}


/*======FEEDBACK=====*/

.info-box-full input {
    width: 90%;
    height: 30px;
    margin: 12px 0;
    border: 2px solid orange;
}

#comment {
    width: 90%;
    height: 200px;
}

.info-box-full input::placeholder {
    color: darkblue;
}

textarea {
    border: 2px solid orange;
}

textarea::placeholder {
    color: darkblue;
}

.submit {
    background-color: darkblue;
    border: none;
    color: orange;
    padding: 18px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-style: solid;
}

.submit:hover {
    background-color: orange;
    color: darkblue;
    border-style: solid darkblue;
}


/*======PLACES=====*/

span {
    color: darkblue;
}

li {
    color: orange;
}

.review {
    background-color: darkblue;
    border: none;
    color: orange;
    padding: 18px 30px;
    text-decoration: none;
    margin: 4px 3px;
    cursor: pointer;
    border-style: solid;
}

.review:hover {
    background-color: orange;
    color: darkblue;
}

form h2 {
    color: darkblue;
    text-align: center;
}

form label {
    color: darkblue;
    display: block;
}